.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #2b314f;
  border-bottom: 1px solid #03082b;
  position: fixed;
  width: 100%;
  height: 4rem;
  z-index: 1;
}

.title {
  font-size: 1.4rem;
  font-weight: 700;
  margin-left: 20px;
  color: #f2f2f2;
  text-shadow: 1px 1px 1px grey;
}
